/* @media screen and ( max-width : 1200px) */
@media screen and ( min-width : 1200px){
    .container{
        width: 1200px;
        margin: 0 auto;
        padding: 0;
    }
    .container1100{
        width: 1100px;
        margin: 0 auto;
        padding: 0;
        max-width: 100%;
    }
    .container1350{
        width: 1350px;
        margin: 0 auto;
        padding: 0;
        max-width: 100%;
    }
    .container800{
        width: 800px;
        margin: 0 auto;
        padding: 0;
        max-width: 100%;
    }

}
/* @media screen and ( max-width : 1200px) */
@media screen and ( min-width : 768px){
    .navbar-collapse.collapse{
        display: flex!important;
        justify-content: center;
    }

}
/* @media screen and (min-width : 992px) and ( max-width : 1199px) */
@media screen and ( max-width : 1199.9px){



}
/* @media screen and (min-width : 768px) and ( max-width : 991px) */
@media screen and ( max-width : 991px){

    
    .f36{
        font-size: 26px;
    }
    .f42{
        font-size: 30px;
    }
    .f53{
        font-size: 30px;
    }
    .f56{
        font-size: 32px;
    }
    .f70{
        font-size: 42px;
    }
    .part1-l{
        margin-bottom: 30px;
    }
    .part2-inner{
        padding-left: 15px;
        padding-right: 15px;
    }
}
/* @media screen and ( max-width : 767px) */
@media screen and ( max-width : 767px){
    .f18{
        font-size: 16px;
    }
    .f20{
        font-size: 17px;
    }
    .f24{
        font-size: 18px;
    }
    .f27{
        font-size: 18px;
    }
    .f30{
        font-size: 18px;
    }
    .f32{
        font-size: 20px;
    }
    .f35{
        font-size: 22px;
    }
    .f36{
        font-size: 22px;
    }
    .f42{
        font-size: 26px;
    }
    .f53{
        font-size: 20px;
    }
    .f56{
        font-size: 32px;
    }
    .f70{
        font-size: 32px;
    }
    .logo-box{
        width: 50%;
    }
    .navbar-brand{
        padding-left: 20px;
    }
    .part1-l{
        margin-bottom: 30px;
    }
    .part2-inner{
        padding-left: 15px;
        padding-right: 15px;
    }
}