/* @media screen and ( max-width : 1200px) */
@media screen and ( min-width : 1200px){
    .container{
        width: 1200px;
        margin: 0 auto;
        padding: 0;
    }
    .container1920{
        width: 1920px;
        margin: 0 auto;
        padding: 0;
    }
}
/* @media screen and (min-width : 992px) and ( max-width : 1199px) */
@media screen and ( max-width : 1199.9px){



}
/* @media screen and (min-width : 768px) and ( max-width : 991px) */
@media screen and ( max-width : 991px){

    
    .f36{
        font-size: 26px;
    }
    .f42{
        font-size: 30px;
    }
    .f46{
        font-size: 30px;
    }
    .f53{
        font-size: 30px;
    }
    .f56{
        font-size: 32px;
    }
    .f70{
        font-size: 42px;
    }
    
}
/* @media screen and ( max-width : 767px) */
@media screen and ( max-width : 767px){
    .f18{
        font-size: 16px;
    }
    .f20{
        font-size: 17px;
    }
    .f24{
        font-size: 18px;
    }
    .f27{
        font-size: 18px;
    }
    .f30{
        font-size: 18px;
    }
    .f32{
        font-size: 20px;
    }
    .f35{
        font-size: 22px;
    }
    .f36{
        font-size: 22px;
    }
    .f42{
        font-size: 26px;
    }
    .f46{
        font-size: 26px;
    }
    .f53{
        font-size: 20px;
    }
    .f56{
        font-size: 32px;
    }
    .f70{
        font-size: 32px;
    }
    .logo-box{
        display: inline-block;
        width: 80px;
    }
    .navbar-brand{padding: 10px;}
    .keywords_left,.keywords_right{width: 100%;}
    .p-h{
        background-size: 1920px 100%;
    }
    .p-h-i h2{text-align: left;}
    .part1-li{width: 100%;}
    .part3 .big-img1 img{transform: scale(1.6);}
    .part7 .part7-info-t li span{font-size: 14px;}
    .part7-info-t li{margin-right: 20px;}
    .part7-info-b li{margin-top: 20px;}
    .part6-content .c-rr{padding: 0;margin-top: 20px;}
    .footer .f-i{margin-top: 30px;}
    .da{position: unset;width: 100%;}
    .mob-p0{padding: 0;}
    .aq span {
        padding: 15px;
    }
    .aq{
        width: auto;
    }
    .abimg{position: unset;left: 0;top: 0;}
    .abimg2{position: unset;right: 0;top: 0;}
}