@charset "UTF-8";
html {
    margin: 0;
    padding: 0;
    border: 0;
}

body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
p,
blockquote,
pre,
a,
address,
code,
b,
em,
img,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
footer,
header,
hgroup,
nav,
product {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background: #fff;
    position: relative;
    font: 14px/1.5 Microsoft YaHei, arial, 宋体, sans-serif;
    vertical-align: baseline;
    width: 100%;
    overflow-x: hidden;
    color: #333;
}

a {
    text-decoration: none;
    outline: none;
}

a:link {
    color: #666;
}

a:visited {
    color: #666;
}

a:hover,
a:active,
a:focus {
    text-decoration: none;
    outline: none;
}

input {
    padding: 0;
    margin: 0;
    font-family: 'Microsoft YaHei';
}

img {
    border: none;
    background: none;
    vertical-align: middle;
}

ul,
ol,
li {
    list-style-type: none;
}

select,
input,
img,
select {
    vertical-align: middle;
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

table,
th,
td {
    vertical-align: middle
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden;
}

.clearfix {
    zoom: 1
}

.clear {
    clear: both;
}

.clearboth {
    height: 0px;
    line-height: 0px;
    overflow: hidden;
    clear: both;
    font-size: 0px;
}

h1,
h2,
h3,
h4 {
    font-size: 14px;
}

hr {
    border: 0;
    border-top: 1px solid #ccc;
    height: 0;
}

button{
    background-color: transparent;
    border: 0;
}
button:focus{
    outline: none;
}
input{  
    background:none;  
    outline:none;  
    border:0;
    outline-color: invert ;
	outline-style: none ;
	outline-width: 0px ;
	border: none ;
	border-style: none ;
	text-shadow: none ;
	-webkit-appearance: none ;
	-webkit-user-select: text ;
	outline-color: transparent ;
    box-shadow: none;
}
input:focus{   
    border:none;
}
@font-face {
    font-family: "SOURCEHANSANSCN-NORMAL";
    src: url("../font/SOURCEHANSANSCN-NORMAL.ttf");
}
@font-face {
    font-family: "SourceHanSansSC";
    src: url("../font/SourceHanSansSC-Regular.otf");
}


/*flex start*/

.flex {
    display: flex;
}
.flex_wrap{
    flex-wrap: wrap;
}
.di_column {
    flex-direction: column;
}
.al_start{
    align-items: flex-start;
}
.al_center {
    align-items: center;
}
.al_end{
    align-items: flex-end;
}
.self_center{
    align-self: center;
}
.self_end{
    align-self: flex-end;
}
.ju_center {
    justify-content: center;
}
.ju_end{
    justify-content: flex-end;;
}
.ju_between{
    justify-content: space-between;
}
.ju_around {
    justify-content: space-around;
}

.flex_center {
    justify-content: center;
    align-items: center;
}
/*flex end*/

/*字体*/
.f10{
    font-size: 10px;
}
.f12{
    font-size: 12px;
}
.f15{
    font-size: 15px;
}
.f16{
    font-size: 16px;
}
.f17{
    font-size: 17px;
}
.f18{
    font-size: 18px;
}
.f19{
    font-size: 19px;
}
.f20{
    font-size: 20px;
}
.f21{
    font-size: 21px;
}
.f22{
    font-size: 22px;
}
.f23{
    font-size: 23px;
}
.f24{
    font-size: 24px;
}
.f25{
    font-size: 25px;
}
.f26{
    font-size: 26px;
}
.f27{
    font-size: 27px;
}
.f28{
    font-size: 28px;
}
.f29{
    font-size: 29px;
}
.f30{
    font-size: 30px;
}
.f31{
    font-size: 31px;
}
.f32{
    font-size: 32px;
}
.f33{
    font-size: 33px;
}
.f34{
    font-size: 34px;
}
.f35{
    font-size: 35px;
}
.f36{
    font-size: 36px;
}
.f37{
    font-size: 37px;
}
.f38{
    font-size: 38px;
}
.f39{
    font-size: 39px;
}
.f40{
    font-size: 40px;
}
.f41{
    font-size: 41px;
}
.f42{
    font-size: 42px;
}
.f43{
    font-size: 43px;
}
.f44{
    font-size: 44px;
}
.f45{
    font-size: 45px;
}
.f46{
    font-size: 46px;
}
.f53{
    font-size: 53px;
}
.f56{
    font-size: 56px;
}
.f70{
    font-size: 70px;
}

.fwb{
    font-weight: bold;
}
/*字体定位*/
.tx_center{
    text-align: center;
}
.tx_right{
    text-align: right;
}
.tx_indent{
    text-indent: 28px;
}
.lh14{
    line-height: 1.4;
}
.lh20{
    line-height: 2;
}
/*颜色*/
.black{
    color: #000;
}
.white{
    color: #fff;
}
.blue{
    color: #004f99;
}
.green{
    color: #54c8e3;
}
.c000{
    color: #000;
}
.cfff{
    color: #fff;
}
.cccc{
    color: #ccc;
}
.cddd{
    color: #ddd;
}
.cd2{
    color: #d2d2d2;
}
.c333{
    color: #333;
}
.c666{
    color: #666;
}
.c999{
    color: #999;
}

/*背景*/
.bg_w{
    background: #fff;
}
.bg_g{
    background: #009794;
}

.common {
    padding: 0px!important;
}

.basic {
    max-width: 1200px;
}
.container{
    width: auto;
}
/*宽高*/
.w38{
    width: 38px;
}
.h38{
    height: 38px;
}
.w1000{
    width: 100%;
}
.h1000{
    height: 100%;
}
.shrink03{
    transform: scale(0.3);
}
.shrink05{
    transform: scale(0.5);
}
.shrink06{
    transform: scale(0.6);
}
.shrink08{
    transform: scale(0.8);
}
/*定位*/
.fl{
    float: left;
}
.fr{
    float: right;
}
.mc{
    margin: 0 auto;
}
.pr{
    position: relative;
}
.pa{
    position: absolute;
}
.l0{
    left: 0;
}
.t0{
    top: 0;
}
.r0{
    right: 0;
}
.b0{
    bottom: 0;
}
.pc{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
/*margin*/
.m0{margin: 0;}
.mr5{margin-right: 5px;}
.ml5{margin-left: 5px;}
.mb5{margin-bottom: 5px;}
.mt5{margin-top: 5px;}
.mr10{margin-right: 10px;}
.ml10{margin-left: 10px;}
.mt10{margin-top: 10px;}
.mb10{ margin-bottom: 10px;}
.mr15{margin-right: 15px;}
.ml15{margin-left: 15px;}
.mt15{margin-top: 15px;}
.mb15{ margin-bottom: 15px;}
/*padding*/
.p0{padding: 0;}
.pl5{padding-left: 5px;}
.pr5{padding-right: 5px;}
.pt5{padding-top: 5px;}
.pb5{padding-bottom: 5px;}
.pl10{padding-left: 10px;}
.pr10{padding-right: 10px;}
.pt10{padding-top: 10px;}
.pb10{padding-bottom: 10px;}
.pl15{padding-left: 15px;}
.pr15{padding-right: 15px;}
.pt15{padding-top: 15px;}
.pb15{padding-bottom: 15px;}
/*++++++++++++++++++++++++++++++++++++++++++*/
.header{
    background-color: #e6e7e9;
}
    
.hellow1{border-bottom: 1px solid #ccc;}
.hellow{
    color: #7c7c7c;
    padding: 10px 0;
}
.hellow-nav li{
    padding: 10px 15px;
    background: url(../images/hellow_bg.png) no-repeat ;
    background-size: 100% 100%;

}

.zb{
    padding-top: 30px;
    padding-bottom: 54px;
}
.cnb h1{
    color: #d49708;
}
.v-line{
    width: 2px;
    height: 80px;
    background-image: linear-gradient(#e6e7e9, #ccc,#e6e7e9 );
    margin-left: 10px;
    margin-right: 10px;
}
.tel{
    width: 58px;
    height: 64px;
    
}
.call{display: inline-block;}
.call h2{
    font-family: Impact;
    color: #0054a3;
}
.hellow3{background-color: #232323;}
.navbar{margin-bottom: 0;}
.navbar-default{background: transparent;}
.navbar-default .navbar-nav > li > a{color: #fff;font-size: 20px;}
@media (min-width: 768px){
    .navbar-nav > li > a {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .logo-box{display: none;}
}
.nav > li > a{padding-left: 30px;padding-right: 30px;}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
    color: #fff;
    background: url(../images/nav_bg.png);
    background-size: 100% 100%;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{background: url(../images/nav_bg.png) transparent;background-size: 100% 100%;color:#fff}

/*keywords*/
.keywords{
    padding: 10px 0;
}
.keywords_left{
    width: 70%;
    overflow: hidden;
}
.keywords_left > span, .keywords_left a{
    line-height: 30px;
}
.keywords_left  a{
    color: #999;
}
.k_l{width: 88px;white-space: nowrap;}
.keywords_right{
    width: 25%;
    min-width: 180px;
    height: 34px;
    margin-top: 5px;
    overflow: hidden;
}
.keywords_right .form-control{
    background-color: #f7f7f7;
    border: none;
    box-shadow: none;
    border-radius: 0;
}
.keywords_right .form-control::placeholder{
    color: #999;
}

.keywords_right .input-group-addon{
    width: 45px;
    background: #0054a3;
}

/* part1 */


.part1{margin-top: 30px;}
.p-p{max-width: 1920px;margin: 0 auto;}
.p-h{
    background: url(../images/p_h.png) no-repeat;
    background-size: 1920px auto;
    background-position: center top;
}
.p-h-i{
    padding-top: 20px;
    padding-bottom: 100px;
}
.p-h h1{margin-bottom: 30px;}
.p-h h2{line-height: 2;}
.part1-li{width: 20%;float: left;padding-left: 10px;padding-right: 10px;text-align: center;}
.part1-txt{padding: 5px;background: url(../images/part1_txt.png) no-repeat ;background-size: 100% 100%;margin-top: 25px;}
.part1-li a:hover .part1-txt,.part1-li a:focus > .part1-txt{background: url(../images/part1_txt_a.png) no-repeat ;background-size: 100% 100%;margin-top: 25px;}
.part1-li a{display: inline-block;}
.part1-content ul{padding-top: 80px;padding-bottom: 90px;}

/* part2 */
.part2{background-color: #f5f5f5;}
.part2-content ul li{background-color: #fff;background: url(../images/part2_item_bg.png) no-repeat;background-size: 100% 100%;padding: 30px 10px 100px;margin-top: 25px;}
.short-line{width: 50px;height: 2px;background-color: #000;margin-top: 10px;}
.part2-txt h2{color: #f6ad02;line-height: 2;}
.part2-txt p{color: #515151;line-height: 2;}
.part2-txt a{color: #fff;padding: 10px 20px;background-color: #0054a3;margin-top: 30px;margin-left: 30%;display: inline-block;}

/* part3 */
.part3{background: url(../images/gruy.png) #fff no-repeat;background-size: 100% 40%;padding-bottom: 120px;}
.part3-content li:first-child{margin-top: 35px;}
.part3-item-txt{padding-top: 40px;}
.part3-item-txt span{width: 60px;height: 70px; font-family: Impact;display: flex;justify-content: center;align-items: center; background: url(../images/polygon.png) no-repeat;background-size: 100% 100%;}
.part3-item-txt h1{color: #959595;font-family: IcedEarth;line-height: 2;}
.part3-item-txt a{color: #5a5a5a;line-height: 2;margin-top: 50px;}
.item-small-img{width: 100%;margin-top: 25px;}
.item-small-img i{width: 50%;display: inline-block;padding: 10px;float: left;}
.pp{padding: 0 20px;}
.part3 .big-img1{display: flex;}

.p-head{}
.bg-c{background: url(../images/c.png) no-repeat;background-size: 100% auto;background-position: center top;}
.bg-d{background: url(../images/d.png) no-repeat;background-size: 100% auto;background-position: center top;}
.p-icon{width: 60px;height: 70px;display: flex;justify-content: center;align-items: center; background: url(../images/polygon.png) no-repeat;background-size: 100% 100%;}

/* part4 */
.part4{background: #efefef;padding-bottom: 150px;}
.coperator{margin-top: 50px;}
.part4 .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    transition: 300ms;
    transform: scale(0.95);
    opacity: 0.75;
    flex-direction: column;
  }
 .part4 .swiper-slide-active,.swiper-slide-duplicate-active{
    transform: scale(1.05);
    opacity: 1;
  }
  .part4 .swiper-slide .sw-txt{padding: 25px 0;width: 100%;background-color: #666666;}
  .part4 .swiper-slide .sw-txt span{color: #333;font-size: 28px;}
  .part4 .swiper-slide .sw-txt .more{display: none;}
  .part4 .swiper-slide-active .sw-txt{padding: 40px 0;width: 100%;background-color: #2a2a2a;}
  .part4 .swiper-slide-active .sw-txt span{color: #fff;font-size: 36px;}
  .part4 .swiper-slide-active .sw-txt .more{display: block;}

/* part5 */
.part5{background: #fff;}

/*part6*/
.part6{background: #efefef;}
.part6 .c-l{background: url(../images/black.png) #fff no-repeat;background-size: 100% 50%; padding: 37px;}
.part6 .c-l-head a{width: 40px;height: 4px;height: 50px;}
.c-l-head-title h2{color: #666;}
.c-l-i span,.c-l-i p{color: #999;}
.c-l-foot i{width: 80px;height: 1px;background: #999;display: inline-block;}
.part6-content{padding-top: 55px;padding-bottom: 150px;}

.part6 .c-r{padding: 30px;background: #fff;}
.part6 .c-r{margin-bottom: 20px;}
.part6 .c-r-head{padding-left: 15px;padding-right: 15px;}
.part6 .c-r-head a{width: 40px;height: 4px;height: 50px;}
.c-r-head-title h2{color: #666;}
.c-r-i span,.c-r-i p{color: #999;}
.aq{background: #0054a3;display: flex;width: 168px;margin-top: 115px;}
.aq span{padding: 15px 33px 15px 18px;border-right: 1px solid #999;white-space: nowrap;}
.aq i{display: flex;justify-content: center;align-items: center;width: 55px;height: 50px;}

/* part7 */
.part7{padding-bottom: 70px;}
.part7-content p{color: #5b5b5b;text-indent: 32px;}
.part7-content p a{color: red;}
.part7-info-t{margin-top: 30px;}
.part7-info-t li{margin-right: 50px;color: #333;cursor: pointer;}
.part7-info-b{margin-top: 30px;margin-left: -15px;margin-right: -15px;}
.part7-info-b a{display: inline-block;}
.part7-info-b-i:not(:first-child){display: none;}
.link{margin-top: 60px;}
.link h1{color: #0054a3;border-bottom: 1px solid #ccc;padding-bottom: 15px;}
.link span{color: #ccc;}
.link div{margin-top: 15px;}
.part7-img{margin-bottom: 90px;margin-top: 20px;}
.part7-img a{display: flex;}

/*footer*/
.footer{background: #2a2a2a;padding-top: 50px;padding-bottom: 130px;}
.footer h1{font-size: 30px;font-weight: bold;color: #0054a3;}
.footer h2{font-size: 12px;font-weight: bold;color: #ccc;margin-bottom: 10px;}
.footer .contact{margin-top: 30px;}
.footer .contact h3 span{line-height: 4;}
.u-line{width: 30px;height: 1px;background: #0054a3;margin-top: 5px;}
.foot-nav{display: flex;flex-wrap: wrap;width: 100%;margin-top: 30px;}
.foot-nav a{width: 50%;color: #fff;font-weight: bold;line-height: 4;}
.code{margin-top: 50px;}

.abimg{position: absolute;left: 0;top: 0;}
.abimg2{position: absolute;right: 0;top: 0;}
