@charset "UTF-8";
html {
    margin: 0;
    padding: 0;
    border: 0;
}

body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
p,
blockquote,
pre,
a,
address,
code,
b,
em,
img,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
footer,
header,
hgroup,
nav,
product {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background: #fff;
    position: relative;
    font: 14px/1.5 Microsoft YaHei, arial, 宋体, sans-serif;
    vertical-align: baseline;
    width: 100%;
    overflow-x: hidden;
    color: #333;
}

a {
    text-decoration: none;
    outline: none;
}

a:link {
    color: #666;
}

a:visited {
    color: #666;
}

a:hover,
a:active,
a:focus {
    text-decoration: none;
    outline: none;
}

input {
    padding: 0;
    margin: 0;
    font-family: 'Microsoft YaHei';
}

img {
    border: none;
    background: none;
    vertical-align: middle;
}

ul,
ol,
li {
    list-style-type: none;
}

select,
input,
img,
select {
    vertical-align: middle;
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

table,
th,
td {
    vertical-align: middle
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden;
}

.clearfix {
    zoom: 1
}

.clear {
    clear: both;
}

.clearboth {
    height: 0px;
    line-height: 0px;
    overflow: hidden;
    clear: both;
    font-size: 0px;
}

h1,
h2,
h3,
h4 {
    font-size: 14px;
}

hr {
    border: 0;
    border-top: 1px solid #ccc;
    height: 0;
}

button{
    background-color: transparent;
    border: 0;
}
button:focus{
    outline: none;
}
input{  
    background:none;  
    outline:none;  
    border:0;
    outline-color: invert ;
	outline-style: none ;
	outline-width: 0px ;
	border: none ;
	border-style: none ;
	text-shadow: none ;
	/* -webkit-appearance: none ; */
	-webkit-user-select: text ;
	outline-color: transparent ;
    box-shadow: none;
}
/* input:focus{   
    border:none;
} */
@font-face {
    font-family: "SOURCEHANSANSCN-NORMAL";
    src: url("../font/SOURCEHANSANSCN-NORMAL.ttf");
}
@font-face {
    font-family: "SourceHanSansSC";
    src: url("../font/SourceHanSansSC-Regular.otf");
}


/*flex start*/

.flex {
    display: flex;
}
.fw{
    flex-wrap: wrap;
}
.column {
    flex-direction: column;
}
.as{
    align-items: flex-start;
}
.ac {
    align-items: center;
}
.ae{
    align-items: flex-end;
}
.self_center{
    align-self: center;
}
.self_end{
    align-self: flex-end;
}
.jc {
    justify-content: center;
}
.je{
    justify-content: flex-end;;
}
.jb{
    justify-content: space-between;
}
.ja {
    justify-content: space-around;
}

.center {
    justify-content: center;
    align-items: center;
}
/*flex end*/

/*字体*/
.f10{
    font-size: 10px;
}
.f12{
    font-size: 12px;
}
.f15{
    font-size: 15px;
}
.f16{
    font-size: 16px;
}
.f17{
    font-size: 17px;
}
.f18{
    font-size: 18px;
}
.f19{
    font-size: 19px;
}
.f20{
    font-size: 20px;
}
.f21{
    font-size: 21px;
}
.f22{
    font-size: 22px;
}
.f23{
    font-size: 23px;
}
.f24{
    font-size: 24px;
}
.f25{
    font-size: 25px;
}
.f26{
    font-size: 26px;
}
.f27{
    font-size: 27px;
}
.f28{
    font-size: 28px;
}
.f29{
    font-size: 29px;
}
.f30{
    font-size: 30px;
}
.f31{
    font-size: 31px;
}
.f32{
    font-size: 32px;
}
.f33{
    font-size: 33px;
}
.f34{
    font-size: 34px;
}
.f35{
    font-size: 35px;
}
.f36{
    font-size: 36px;
}
.f37{
    font-size: 37px;
}
.f38{
    font-size: 38px;
}
.f39{
    font-size: 39px;
}
.f40{
    font-size: 40px;
}
.f41{
    font-size: 41px;
}
.f42{
    font-size: 42px;
}
.f43{
    font-size: 43px;
}
.f44{
    font-size: 44px;
}
.f45{
    font-size: 45px;
}
.f53{
    font-size: 53px;
}
.f56{
    font-size: 56px;
}
.f70{
    font-size: 70px;
}

.fwb{
    font-weight: bold;
}
/*字体定位*/
.tc{
    text-align: center;
}
.tr{
    text-align: right;
}
.ti{
    text-indent: 28px;
}
.lh14{
    line-height: 1.4;
}
.lh20{
    line-height: 2;
}
/*颜色*/
.black{
    color: #000;
}
.white{
    color: #fff;
}
.blue{
    color: #004f99;
}
.green{
    color: #54c8e3;
}
.c000{
    color: #000;
}
.cfff{
    color: #fff;
}
.cccc{
    color: #ccc;
}
.cddd{
    color: #ddd;
}
.cd2{
    color: #d2d2d2;
}
.c333{
    color: #333;
}
.c666{
    color: #666;
}
.c999{
    color: #999;
}

/*背景*/
.common {
    padding: 0px!important;
}
.basic {
    max-width: 1200px;
}
.container{
    width: auto;
}
/*宽高*/
.w1000{
    width: 100%;
}
.h1000{
    height: 100%;
}

/*定位*/
.fl{
    float: left;
}
.fr{
    float: right;
}
.mc{
    margin: 0 auto;
}
.pr{
    position: relative;
}
.pa{
    position: absolute;
}
.l0{
    left: 0;
}
.t0{
    top: 0;
}
.r0{
    right: 0;
}
.b0{
    bottom: 0;
}
.pc{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
/*margin*/
.m0{margin: 0;}
.mr5{margin-right: 5px;}
.ml5{margin-left: 5px;}
.mb5{margin-bottom: 5px;}
.mt5{margin-top: 5px;}
.mr10{margin-right: 10px;}
.ml10{margin-left: 10px;}
.mt10{margin-top: 10px;}
.mb10{ margin-bottom: 10px;}
.mr15{margin-right: 15px;}
.ml15{margin-left: 15px;}
.mt15{margin-top: 15px;}
.mb15{ margin-bottom: 15px;}
/*padding*/
.p0{padding: 0;}
.pl0{padding-left: 0;}
.pr0{padding-right: 0;}
.pl5{padding-left: 5px;}
.pr5{padding-right: 5px;}
.pt5{padding-top: 5px;}
.pb5{padding-bottom: 5px;}
.pl10{padding-left: 10px;}
.pr10{padding-right: 10px;}
.pt10{padding-top: 10px;}
.pb10{padding-bottom: 10px;}
.pl15{padding-left: 15px;}
.pr15{padding-right: 15px;}
.pt15{padding-top: 15px;}
.pb15{padding-bottom: 15px;}


.db{display: block;}
.dib{display: inline-block;}
/*++++++++++++++++++++++++++++++++++++++++++*/
.header_top{
    padding: 10px 0!important;
}
.search_box{
    margin-top: 30px;
}
.search_input{
    width: 314px;
    height: 34px;
    border: 2px solid #e4393c;
    outline: 0;
    border-spacing: 0;
}
.search_btn{
    padding: 4px 12px;
    height: 34px;
    background-color: #e4393c;
    color: #fff;
    font-size: 18px;
}
.redd{
    color:#ac0000;
    font-weight: bold;
}
.nav_p{
    width: 100%;
    height: 35px;
    background: url(../images/nav_bg.gif) repeat-x;
    background-size: auto 100%;
    z-index: 999999;
    top: 0;
    left: 0;
}
.nav_a{
    color: #fff!important;
    display: inline-block;
    font-size: 16px;
    min-width: 110px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    border-right: 1px solid #ac0000;
}
.nav_ul > li:last-child > .nav_a{
    border-right: none;
}
.nav_a.active{
    background: url(../images/nav_hover.png) repeat-x;
    background-size: auto 100%;
}
.nav_ul > li:hover{
    background: url(../images/nav_hover.png) repeat-x;
    background-size: auto 100%;
}
.nav_ul > li:hover .dropdown_p{
    display: block;
}

.nav_ul > li{
    position: relative;
}
.dropdown_p{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 999999;
    width: 100%;
    background-color: red;
}
.drop_a{
    display: block;
    width: 100%;
    text-align: center;
    padding: 5px;
    color: #fff!important;
    background-color: #e4393c;
}
.drop_a:hover{
    background-color: #aa0004;
}

.banner{overflow: hidden;position: relative;}
.banner .swiper-slide{
    padding-top: 38%;
}
.next_p{
    width: 71px;
    height: 71px;
    border-radius: 6px;
    background: rgba(0,0,0,.1) url(../images/right.png) no-repeat;
    background-size: cover;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translate(0,-50%);
    z-index: 999;
}
.prev_p{
    width: 71px;
    height: 71px;
    border-radius: 6px;
    background: rgba(0,0,0,.1) url(../images/right.png) no-repeat;
    background-size: cover;
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translate(0,-50%) rotate(180deg);
    z-index: 999;
}
.next_p:hover,.prev_p:hover{
    background: rgba(0,0,0,.3) url(../images/right.png) no-repeat;
}
.yuyue{
    width: 420px;
    position: absolute;
    right: 10%;
    top: 10px;
    z-index: 9;
}
.yuyue_title{
    height: 34px;
    line-height: 34px;
    color: #fff;
    padding-left: 5px;
    background-color: #aa0004;
}
.yuyue_content{
    background: url(../images/yuyue_bg.jpg) repeat;
    opacity: .9;
    padding: 15px 20px 25px;

}
.yuyue_item{
    height: 36px;
    margin-bottom: 30px;
}
.yuyue_name{
    width: 76px;
    height: 100%;
    display: inline-block;
    line-height: 36px;
    text-align: right;
    color: rgb(255, 62, 7);
}
.yuyue_input{
    height: 100%;
    width: 270px;
    display: inline-block;
    border: 1px solid #719f00;
    background-color: #fff;
    padding-left: 5px;
}
.bis{
    width: 178px;
}
.select_box{
    width: 88px;
    height: 36px;
    border: 1px solid #719f00;
}
.yanzhengma{
    width: 100px;
}
.yanzhengma_tu{
    width: 68px;
    height: 24px;
    cursor: pointer;
}
.change{
    cursor: pointer;
    margin-left: 10px;
    line-height: 35px;
    color: rgb(255, 62, 7);
    display: inline-block;
}
.yuyue_submit{
    width: 135px;
    height: 44px;
    line-height: 44px;
    color: #fff;
    background:#f54f4f url(../images/submit_bg.png) repeat-x;
    border-left: 1px solid #f13b3b;
    border-right: 1px solid #f13b3b;
    background-size: auto 100%;
    margin-left: 24%;
    text-align: center;
    cursor: pointer;
}
#true_submit{
    display: none;
}
.warning{
    color: #f30;
    background: #fff799;
    border: 1px solid #ffda99;
    line-height: 30px;
    margin: 5px auto;
    width: 260px;
    height: 30px;
    margin-left: 24%;
    margin-bottom: 20px;
    text-align: center;
    display: none;
}
.part2{
    background: url(../images/bg1.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    padding: 95px 0;
}
.part2_left{
    width: 45%;
}
.part2_left h3{
    font-size: 22px;
    color: #FFC001;
    line-height: 1.5em;
    margin-top: 40px;
}
.part2_left h2{
    font-size: 32px;
    color: #FFC001;
    line-height: 1.5em;
}
.part2_left p{
    line-height: 1.8;
    color: #e6e6e6;
}
.part2_right{
    width: 55%;
    padding-left: 20px;
}
.part2_right_item{
    margin-top: 80px;
}
.part2_right_item h3{
    font-size: 22px;
    color: #FFC001;
    line-height: 2.5;
}
.part2_right_item p{
    color: #e6e6e6;
    line-height: 1.8;
}
.part2_right_pic{
    width: 110px;
}
.part2_text{
    width: 480px;
    padding-left: 40px;
}
.title_box{
    padding-top: 90px;
    padding-bottom: 80px;
}
.title_box h2{
    color: #666666;
    font-size: 30px;
    line-height: 2.2;
    text-align: center;
}
.title_box h3{
    color: rgb(102, 102, 102);
    font-size: 16px;
    line-height: 2.2;
    text-align: center;
}
.part3{
    padding: 0 0 90px;
}
.style_box{
    width: 25%;
    padding: 10px;
    float: left;
}
.style_box h3{
    font-size: 18px;
    color: #333333;
    line-height: 1.5em;
    margin-top: 25px;
    text-align: center;

}
.style_box p{
    color: #999999;
    text-align: center;
    line-height: 2em;
}

.part4{
    background: url(../images/bg2.jpg) no-repeat;
    background-size: cover;
    background-position: top center;
    padding-top: 400px;
    padding-bottom: 80px;
}
.part4_title h2{
    font-size: 22px;
    color: #FFC001;
    line-height: 1.6;
}
.part4_title h3{
    font-size: 32px;
    color: #FFC001;
    line-height: 1.6;
}
.part4_item{
    width: 50%;
    padding: 10px;
    margin-top: 40px;
    float: left;
    height: 140px;
}
.part4_item img{
    width: 120px;
    height: 120px;
    float: left;
}
.fk_text{
    width: 420px;
    margin-left: 30px;
    padding-right: 30px;
}
.part4{padding-bottom: 80px;}
.part4_item h4{
    font-size: 22px;
    color: #FFC001;
    line-height: 2;
    margin-bottom: 10px;
}
.part4_item p{
    color: #e6e6e6;
    line-height: 1.6;
}
.part5{
    padding-bottom: 100px;
}
.part5_item{
    width: 50%;
    padding: 0 60px;
    float: left;

}
.part5_item h2 a{
    font-size: 18px;
    color: rgb(22, 22, 22)!important;
    margin-top: 25px;
    line-height: 2;
    display: block;
}
.part5_item h2 a:hover{
    color: #FFC001!important;
}
.part5_item p{
    font-size: 14px;
    color: #999999;
    margin-top: 25px;
    line-height: 2;
}
.part6{
    background: rgba(0,0,0,.5) url(../images/bg3.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    padding: 80px 0;
}
.part6_item{
    width: 24.5%;
    display: inline-block;
    border: 4px solid #000;
}
.part6_item_hover{
    display: none;
    opacity: 0.8;
}
.part6_item:hover .part6_item_hover{
    display: block;
    background: rgba(0,0,0,.5);
}
.part6_item:hover .part6_item_init{
    display: none;
}
.part7{
    padding-bottom: 100px;
}
.part7_content a{
    display: inline-block;
}
.part7_content a:hover p{
    transform: translate(0,0);
}
.part7_item_1{
    width: 360px;
    float: left;
    height: 520px;
    overflow: hidden;
    position: relative;
}
.part7_item_2{
    width: 486px;
    float: left;
    height: 260px;
    overflow: hidden;
    position: relative;
}
.part7_item_2_box{
    width: 486px;
    float: left;
}
.part7_item_3{
    position: relative;
    width: 350px;
    float: left;
    height: 260px;
    overflow: hidden;
}
.part7_item_3_box{
    width: 350px;
    float: left;
}
.nichousha{
    width: 100%;
    background-color: rgba(0,0,0,.6);
    font-size: 12px;
    color: #fff;
    text-align: center;
    padding: 4px 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(0,100%);
    transition: all 0.6s;
}
footer{
    background: url(../images/bg4.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 80px;
}
.usb{
    margin-bottom: 30px;
}
.mfk_name{
    width: 127px;
    height: 36px;
    line-height: 36px;
    text-align: right;
    color: #9b9b9b;
    display: inline-block;
}
.mfk{
    width: 440px;
    height: 36px;
    border: 1px solid #9b9b9b;
    border-radius: 2px;
    margin-left: 10px;
    color: #fff;
    padding-left: 10px;
}
.checkbox_group{
    display: inline-block;
    margin-left: 10px;
}
.checkbox_group input {
    width: 15px;
    height: 15px;
    border: 1px solid #9b9b9b;
    background-color: #9b9b9b;
    margin: 0;
}
.checkbox_group label{
    color: #9b9b9b;
}
.yzm{
    width: 124px;
}
.yzm_img{
    width: 68px;
    height: 24px;
    margin-left: 10px;
    cursor: pointer;
}
.hyz{
    color: #9b9b9b;
}
.footer_left{
    width: 50%;
    float: left;
}
.bottom_submit{
    background-color: #ffad2b;
    width: 240px;
    height: 44px;
    color: #fff;
    line-height: 44px;
    text-align: center;
    margin-left: 140px;
    cursor: pointer;
}
#real_submit{
    display: none;
}
.warningb{
    width: 440px;
    height: 36px;
    margin-left: 140px;
    color: #f30;
    background: #fff799;
    border: 1px solid #ffda99;
    line-height: 36px;
    margin-bottom: 20px;
    text-align: center;
    display: none;
}




.footer_right{
    width: 50%;
    float: left;
    padding-left: 140px;    
}
.wtf{
    padding-bottom: 80px!important;
}
.hxd{
    margin: 60px 0;
}   
.hxd span{
    display: inline-block;
    height: 28px;
    line-height: 28px;
    color: #9b9b9b;
    font-size: 16px;
    margin-left: 15px;
}
.copyright{
    padding: 30px 0;
    background-color: #000;
}
.copyright p{
    color: #9b9b9b;
}
.copyright a{
    display: inline-block;
    color: #9b9b9b!important;
}
.copyright a:not(:last-child)::after{
    content: '|';
    color: #9b9b9b;
    display: inline-block;
    margin-left:  10px;
    margin-right: 4px;
}
.copyright a:hover{
    color: #fff!important;
}

.back_top{
    position: fixed;
    cursor: pointer;
    right: 57px;
    bottom: 50px;
}
.b_up{
    transition: all 0.6s;
    position: fixed;
    right: 57px;
    bottom: 50px;
}
.b_top{
    opacity: 0;
    transition: all 0.6s;
    position: fixed;
    right: 57px;
    bottom: 50px;
}
.back_top:hover .b_top{
    opacity: 0.5;
}
.back_top:hover .b_up{
    opacity: 0;
}